
/* Body */

#wrap {
	width: 650px;
	margin: 50px auto;
}

body {
	font-family: 'colaborate-thinregular', Arial, sans-serif;
}

/* Header */

header {
	height: auto;
	width: auto;
	text-align: center;
	border-bottom: 3px double;
	background-color: #f7f7f7;
}

header nav {
	height: auto;
	width: auto;
	display: block;
	text-align: center;
	margin-bottom: 20px;
}

.list a {
	font-variant: small-caps;
	text-decoration: none;
	color: #4ebfae;
}

.list a:hover {
	text-decoration:underline;
}

.list {
	margin-top: 15px;
}

.round {
  border-radius: 50%;
	overflow: hidden;
  width: 200px;
  height: 200px;
	margin-left: auto;
	margin-right: auto;
}

.round img {
  display: block;
  min-width: 100%;
  min-height: 100%;
}

/* Content */

.main {
	padding: 50px;
}

.col-1-3 {
  width: 33%;
}

.col-2-3 {
  width: 66%;
}

.col-1-3,
.col-2-3 {
  display: inline;
  vertical-align: top;
}

.photos{
  display: none;
}

#travel {
  display: block;
  height: 36px;
  width: 180px;
  background: #4ebfae;
  border: 2px solid #215148;
	text-align: center;
	font-variant: small-caps;
	font-size: 18px;
	color: #215148;
	margin-left: auto;
	margin-right: auto;
}

/* Paragraph elements */

h1 {
  font-size: 36px;
  line-height: 44px;
	text-align: center;
}

h2 {
  font-size: 26px;
  line-height: 44px;
	text-align: center;
}

h3 {
  font-size: 20px;
	text-align: center;
	line-height: 44px;
}

p {
  font-size: 18px;
}

li {
  line-height: 30px;
}

/*not sure if this is best centering fix for feelings*/
.feelings{
	height: auto;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 280px;
	height: 175px;
}

/* Footer */

footer {
	height: auto;
	width: auto;
	text-align: center;
	margin-top: 50px;
	border-top: 3px double;
	}

/* Typography */

@font-face {
    font-family: 'colaborate-thinregular';
    src: url('ColabThi-webfont.eot');
    src: url('ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('ColabThi-webfont.woff') format('woff'),
         url('ColabThi-webfont.ttf') format('truetype'),
         url('ColabThi-webfont.svg#colaborate-thinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
